::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color:#ffdb70 ;
}
::-webkit-scrollbar-thumb{
    background-color:#282829;
    height: 10px;
    border-radius: 20px;
    border: 1px solid #383838;
}
::-webkit-scrollbar-thumb:hover{
    background-color:#383838;
}

::selection{
    color: black;
    background-color: #ffdb70;
}

.Tech::-webkit-scrollbar{
    height: 6px;
}
.Tech::-webkit-scrollbar-track{
    background-color:#383838;
    border-radius: 10px;
    margin:0px 150px;
}
.Tech::-webkit-scrollbar-thumb{
    background-color: #ffdb70;
}