@import "tailwindcss";

@theme {
  /* Define a custom color variable, which will generate utility classes */
  --color-color1:#1e1e1f;
  --color-color2: #383838;
  --color-color3: #ffdb70;
  --color-color4: #282829;
  --color-color5: #202022;
  --color-primary1:rgba(214, 214, 214, 0.7);
  --color-primary2:white;
  --color-primary3:rgba(214, 214, 214);

  --font-custom:" Poppins", sans-serif; 
  
  --space-xl: 3rem;
}
